.todo {
  display: block;
  width: 6rem;
  height: 1.5rem;
  margin: 1rem;
  padding: 0.5rem;
  border: 1px solid rgb(218, 218, 218);
  animation: fadein 1s forwards;
  &__done {
    position: relative;
    &::before {
      position: absolute;
      left: -3px;
      top: 0.55rem;
      content: ('');
      width: calc(100% + 6px);
      height: 2px;
      background-color: black;
      transition: 0.5s;
    }
  }
  &__undone {
    position: relative;
    &::before {
      content: ('');
      position: absolute;
      left: 50%;
      top: 0.55rem;
      width: 0;
      height: 1px;
      background-color: black;
      transition: 0.5s;
    }
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
